aws_credentials_profile             = ""
aws_credentials_location            = "" # The location of the AWS credentials on your device. typically ~/.aws/credentials
aws_default_region                  = ""
ami                                 = ""
instance_type                       = ""
vpc_cidr_block                      = ""
